{% extends 'header.html' %}
{% block title %}新闻列表{% endblock %}




{% block content %}
    <div id="container">
    {% include 'sidebar.html' %}

    <div class="main">

		<?php include(TEMPLATEPATH .'/breadcrumb.php');?>

		<?php if (have_posts()) : ?>

		<ul class="postlist">

		<?php

			if(get_option('leonhere_news_num')){

				$num = get_option('leonhere_news_num');

				$posts = query_posts($query_string . '&orderby=date&caller_get_posts=1&order=DESC&showposts='.$num);

			}

		?>

		{% for news in newslist %}

			<li id="post-{{ news.id }}"><span>{{ news.pub_date|date:'Y年m月d日' }}</span><a href="{% url 'newsdetail' news.id %}" target="_blank">{{ news.title }}</a></li>

		{% endfor %}

		</ul>

		<div class="pagenavi">

			<?php boke8_net_pagenavi(6);?>

		</div>



	</div>





    	</div>




{% endblock %}





{% block footer %}

    {% include 'footer.html' %}

{% endblock %}